<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>折800 - 首页</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="shouye">
<!-- 首页-->
    <a href="#" class="z800"><img src="img/shouye/800.png" alt=""></a>
<!--   底部导航 部分-->
    <nav>
         <ul>
             <li><a href="index.html" class="active"><i class="fa fa-home"></i><span>今日特卖</span></a></li>
             <li><a href="fenlei.html"><i class="fa fa-list-ul"></i><span>分类</span></a></li>
             <li><a href="gou.html"><i class="fa fa-shopping-cart"></i><span>购物车</span></a></li>
             <li><a href="mi.html"><i class="fa fa-user-o"></i><span>我的</span></a></li>
         </ul>
     </nav> 
     




<!-------红包的 弹出框------->
<div id="ad">
    <div class="x">X</div>
    <div class="div3 div5"><img src="img/2.png" alt=""></div>
    <div class="div1 div5"><img src="img/1.png" alt=""></div>
    <div class="div2"><span id="close">立即领取 </span></div>
    <div class="div4 div5"><img src="img/3.png" alt=""></div>
</div>





<!---- 搜索框 部分--->
     <div class="search container">
         <div class="left">
             <i><img src="img/shouye/zhe.png" alt=""></i>
         </div>
         <div class="center">
             <i class="fa fa-search"></i>
             <input type="text" placeholder="搜低价商品">
         </div>
         <div class="right">
             <a href="fenlei.html">
                 <i class="fa fa-navicon"></i>
             </a>
         </div>
     </div>
     
     
<!-- 文字轮播-->
   <div class="tuijian container search1">
       <div class="list">
           <ul>
               <li>
                   <a href="#" class="item"><span>推荐</span></a>
               </li>
               <li>
                   <a href="#"><span>女装</span></a>
               </li>
               <li>
                   <a href="#"><span>鞋包</span></a>
               </li>
               <li>
                   <a href="#"><span>居家</span></a>
               </li>
               <li>
                   <a href="#"><span>母婴儿童</span></a>
               </li>
               <li>
                   <a href="#"><span>美食</span></a>
               </li>
               <li>
                   <a href="#"><span>男装</span></a>
               </li>
               <li>
                   <a href="#"><span>内衣</span></a>
               </li>
               <li>
                   <a href="#"><span>配饰</span></a>
               </li>
               <li>
                   <a href="#"><span>数码家电</span></a>
               </li>
               <li>
                   <a href="#"><span>美妆</span></a>
               </li>
               <li>
                   <a href="#"><span>家纺</span></a>
               </li>
               <li>
                   <a href="#"><span>运动</span></a>
               </li>
               <li>
                   <a href="#"><span>中老年</span></a>
               </li>
               <i class="fa fa-chevron-down"></i>
           </ul>
       </div>
   </div> 
    
    
      
<!---- 轮播图 - 部分-->
    <div class="banner swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/shouye/lunbo1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/shouye/lunbo2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/shouye/lunbo3.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/shouye/lunbo4.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/shouye/lunbo5.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/shouye/lunbo6.jpg" alt=""></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>   
    

   
<!--app部分-->
   <div class="app">
       <div class="xian">
           <a href="#"><img src="img/shouye/1.png" alt=""></a>
           <p>现金红包</p>
       </div>
       <div class="xian">
           <a href="#"><img src="img/shouye/2.png" alt=""></a>
           <p>9.9包邮</p>
       </div>
       <div class="xian">
           <a href="#"><img src="img/shouye/3.png" alt=""></a>
           <p>手机充值</p>
       </div>
       <div class="xian">
           <a href="#"><img src="img/shouye/4.png" alt=""></a>
           <p>居家优品</p>
       </div>
       <div class="xian">
           <a href="#"><img src="img/shouye/5.png" alt=""></a>
           <p>男得好货</p>
       </div>
   </div>
   
    
    
    
<!--  go-->
   <div class="go">
       <a href="">
           <img src="img/shouye/go.jpg" alt="">
       </a>
   </div> 
    
    
    
<!-- bootstrp-->
    <div class="xianshi">
        <div class="container">
            <div class="row c2">
                <div class="col-xs-6 c1">
                    <a href="#">
                        <img src="img/shouye/01.jpg" alt="">
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="#">
                        <img src="img/shouye/02.png" alt="">
                    </a> 
                    <div class="row c3">
                        <div class="col-xs-6 c4">
                            <a href="#">
                                <img src="img/shouye/03.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#">
                                <img src="img/shouye/04.jpg" alt="">
                            </a>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    
    
<!-- 特卖 部分-->
    <div class="temai container" id="temai">
        <div class="row">
            <div class="col-xs-6 o1" v-for="arr in arrs">
                <a href="#">
                    <img :src="arr.img1" alt="">
                </a>
                <p>{{arr.p1}}</p>
                <h5>{{arr.h51}}</h5>
            </div>
        </div>
    </div>
    
<!-- 为你推荐-->
    <div class="temai container" id="mai">
        <p class="p1">————为你推荐————</p>
        <div class="row">
            <div class="col-xs-6 o1" v-for="arr in arrs">
                <a href="#">
                    <img :src="arr.img1" alt="">
                </a>
                <p>{{arr.p1}}</p>
                <h5>{{arr.h51}}</h5>
            </div>
        </div>
    </div>
    
    
    
<!-- 回到顶部 部分-->
    <div id="top"></div>
    <div id="top2"></div>
    
<script src="js/vue.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/swiper-4.2.6.min(1).js"></script>
<script src="js/zhe.js"></script>    
</body>
</html>